
.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

haxe-tutorials.iml

out/production/01_Simple_Macro/A_01_Setter_Macro.hx

out/production/01_Simple_Macro/release/simpleTest

out/production/01_Simple_Macro/macros/SetterMacro.hx
